
                  <td v-if="pta.planing != undefined && pta.planing.janvier != ''" class="p-2  border relative bg-red-500 border-l-0 border-r-0">
                    
                  </td>
                  <td class="p-2 whitespace-nowrap border relative dark:bg-gray-800 dark:border-gray-700" v-else></td>

                
                  <td v-if="pta.planing != undefined && pta.planing.fevrier != ''" class="p-2  border relative bg-red-500 border-l-0 border-r-0">
                    
                  </td>
                  <td class="p-2 whitespace-nowrap border relative dark:bg-gray-800 dark:border-gray-700" v-else></td>

                   <td v-if="pta.planing != undefined && pta.planing.mars != ''" class="p-2  border relative bg-red-500 border-l-0 border-r-0">
                    
                  </td>
                  <td class="p-2 whitespace-nowrap border relative dark:bg-gray-800 dark:border-gray-700" v-else></td>

                
                  <td v-if="pta.planing != undefined && pta.planing.avril != ''" class="p-2  border relative bg-red-500 border-l-0 border-r-0">
                    
                  </td>  
                  <td class="p-2 whitespace-nowrap border relative dark:bg-gray-800 dark:border-gray-700" v-else></td>

                  <td v-if="pta.planing != undefined && pta.planing.mai != ''" class="p-2  border relative bg-red-500 border-l-0 border-r-0">
                    
                  </td>
                  <td class="p-2 whitespace-nowrap border relative dark:bg-gray-800 dark:border-gray-700" v-else></td>

                
                  <td v-if="pta.planing != undefined && pta.planing.juin != ''" class="p-2  border relative bg-red-500 border-l-0 border-r-0">
                    
                  </td>  
                  <td class="p-2 whitespace-nowrap border relative dark:bg-gray-800 dark:border-gray-700" v-else></td>

                  
                  <td v-if="pta.planing != undefined && pta.planing.juillet != ''" class="p-2  border relative bg-red-500 border-l-0 border-r-0">
                    
                  </td>
                  <td class="p-2 whitespace-nowrap border relative dark:bg-gray-800 dark:border-gray-700" v-else></td>

                
                  <td v-if="pta.planing != undefined && pta.planing.aout != ''" class="p-2  border relative bg-red-500 border-l-0 border-r-0">
                    
                  </td>  
                  <td class="p-2 whitespace-nowrap border relative dark:bg-gray-800 dark:border-gray-700" v-else></td>

                  <td  v-if="pta.planing != undefined && pta.planing.septembre != ''" class="p-2  border relative bg-red-500 border-l-0 border-r-0">
                    
                  </td>
                  <td class="p-2 whitespace-nowrap border relative dark:bg-gray-800 dark:border-gray-700" v-else></td>

                  <td v-if="pta.planing != undefined && pta.planing.octobre != ''" class="p-2  border relative bg-red-500 border-l-0 border-r-0">
                    
                  </td>  
                  <td class="p-2 whitespace-nowrap border relative dark:bg-gray-800 dark:border-gray-700" v-else></td>

                  <td v-if="pta.planing != undefined && pta.planing.novembre != ''" class="p-2  border relative bg-red-500 border-l-0 border-r-0">
                    
                  </td>
                  <td class="p-2 whitespace-nowrap border relative dark:bg-gray-800 dark:border-gray-700" v-else></td>

                  <td v-if="pta.planing != undefined && pta.planing.decembre != ''" class="p-2  border relative bg-red-500 border-l-0 border-r-0">
                    
                  </td>   activite.taches.forEach(tache => {

                    const tacheDuree = tache.durees
                    if (tacheDuree != undefined || activiteDuree != null) {
                   if (tacheDuree[0] == 1) {
                     planingt.janvier = "ok"
                   }
                   if (tacheDuree[1] == 1) {
                     planingt.fevrier = "ok"
                   }
                   if (tacheDuree[2] == 1) {
                     planingt.mars = "ok"
                   }
                   if (tacheDuree[3] == 1) {
                     planingt.avril = "ok"
                   }
                   if (tacheDuree[4] == 1) {
                     planingt.mai = "ok"
                   }
                   if (tacheDuree[5] == 1) {
                     planingt.juin = "ok"
                   }
                   if (tacheDuree[6] == 1) {
                     planing.juillet = "ok"
                   }
                   if (tacheDuree[7] == 1) {
                     planingt.aout = "ok"
                   }
                   if (tacheDuree[8] == 1) {
                     planingt.septembre = "ok"
                   }
                   if (tacheDuree[9] == 1) {
                     planingt.octobre = "ok"
                   }
                   if (tacheDuree[10] == 1) {
                     planingt.novembre = "ok"
                   }
                   if (tacheDuree[11] == 1) {
                     planingt.decembre = "ok"
                   }
                 }
 
                   
                   
                   })